.bg-azul-oscuro {
    background-color: #243742 !important;
}

.bg-azul-claro {
    background-color: #2F4858 !important;
}

.letra-blanca {
    color: white !important;
}

.pad {
    padding: 10px !important;
}